body {
  font-family: Arial, sans-serif;
  background-color: wheat;
  color: #333;
  text-align: center;
  padding: 0px;
  padding-bottom: 80px; /* Adjust to ensure space for the footer */
  margin: 0;
  border: 5px solid red; /* adjust border width and color*/
}

.title {
  margin-bottom: 20px;
  background-color: #333;
  padding: 10px; adjust /* paddind as needed */
}

h1 {
  color: #d32f2f;
}

.question-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.bookmark {
  position: absolute;
  top: 10px;
  right: 10px; /* Move to the top-right corner */
  background-color: transparent;
  color: black; /* Default color for unselected */
  border: 2px solid transparent; /* Default border color */
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
}

.bookmark.selected {
  color: black; /* Color when selected */
  border-color: red; /* Red border when selected */
  background-color: white; /* Ensure background is white for contrast */
}

.question-card h2 {
  margin-top: 0;
}

.hidden {
  display: none;
}

button {
  background-color: #d32f2f;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #a02828;
}

.tags {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.tag {
  background-color: #eee;
  color: #333;
  padding: 3px 10px;
  border-radius: 3px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: wheat;
  border-top: 5px solid red;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}


.navbar {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navbar li {
  flex: 1;
  text-align: center;
}

.navbar a {
  text-decoration: none;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.navbar a i {
  font-size: 20px;
  margin-bottom: 5px;
}

.navbar a:hover {
  color: #d32f2f;
}

.navbar .active {
  color: #d32f2f; /* Highlight color for active link */
}

.content-section {
  display: none;
}

#home {
  display: block;
}
 .profile-image {width: 150px;
height: 150px;
border-radius: 50%;
object-fit: cover;}

